
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 20px 40px;
  }
  
  .navbar-left h1 {
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .navbar-right button {
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 80px;
  }
  .search-countries{
    margin: 0 100px;
  }
  
  .search-wrapper {
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }
  
  #searchInput {
    width: 30%;
    padding: 10px;
    font-size: 24px;
    box-sizing: border-box;
    border-radius: 10px;
  }
  
  #countryList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 60px;
    padding: 20px;
  }
  
  #countryList div {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .search-and-dropdown {
    display: flex;
  }
  
  .continent-wrapper {
    width: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
  }
  
  #continentSelect {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    border-radius: 10px;
  
  }
  
  
  .dark-mode {
    background-color: #333;
    color: #f1f1f1;
  
  }
  
  .dark-mode nav {
    background-color: #222;
  }
  